.display-task-container {
  background-color: #c6c6c6a0;
  position: relative;
}

#filter-checkbox {
  margin: 1rem;
}

.search-bar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 10rem;
}

.display {
  background-color: #fff;
  margin: .2rem .2rem;
}

.task-sorting-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1.5rem 1rem;
}

.single-sorting {
  display: flex;
}

.sort-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.7rem;
  cursor: pointer;
  fill: #aeaeae;
}

.sort-icon.ascend,
.sort-icon.descend {
  fill: #807eff;
  cursor: pointer;
  height: 1.5rem;
}

.sort-icon.descend {
  transform: rotate(180deg);
}

.tasks {
  border-top: 3px solid #c6c6c6a0;
  padding: 0.5rem 0;
  min-height: 150px;
}

.single-task {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.3rem 0 1rem 2.825rem;
}

.single-task.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.single-checkbox span {
  display: inline-block;
}

.task-name {
  margin-left: 5.5rem;
  width: 7rem;
}

.task-description {
  margin-left: 2.5rem;
  width: 8rem;
}

.task-date {
  margin-left: 2.5rem;
  align-self: center;
}

.delete-task-icon {
  align-self: center;
  color: red;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: .5rem;
}

/* Checkbox style */

/* Customize the label (single-checkbox) */
.single-checkbox {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0rem 0 0 2.25rem;
  margin: 0;
  font-size: 1.1rem;
  user-select: none;
}

.single-checkbox span {
  align-self: center;
}

/* Hide the browser's default checkbox */
.single-checkbox .input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 999;
  height: 25px;
  width: 25px;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.single-checkbox .input:hover ~ .checkmark {
  /* background-color: #ccc; */
  border: 1px solid red;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.single-checkbox .input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.single-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0px;
  transform: rotate(45deg);
}

/* Align text vertically and make space between checkbox and the text */
.checkbox-wrapper {
  padding: 1px 0 1px 0.5rem;
}
